header.flex.mt-4
  = image_tag 'profile.png', class: "flex-none w-20 h-20 object-cover rounded-full ring-1 ring-gray-200"
  div.ml-4
    h2.text-2xl.leading-6
      | Quentin  Gaultier
    div class="mt-1 print:hidden flex gap-2"
      a href="https://github.com/gaultierq" target="_blank"
        = image_tag 'github-mark.png', class: "w-5 h-5 object-cover  rounded-full hover:scale-110"
        span class="hidden print:block"
          = '@gaultierq'

      a href="https://www.linkedin.com/in/quentin-gaultier-9b995a41/" target="_blank"
        = image_tag 'linkedin.png', class: "flex-none w-5 h-5 object-cover rounded-full hover:scale-110"
        span class="hidden print:block"
          = 'linkedin.com/in/quentin-gaultier-9b995a41'

      a href="https://stackoverflow.com/users/1929671/quentin-gaultier" target="_blank"
        = image_tag 'stackoverflow.png', class: "flex-none w-5 h-5 object-cover rounded-full hover:scale-110"
        span class="hidden print:block"
          = 'stackoverflow: quentin-gaultier'


div.text-sm.font-semibold.mt-2.space-y-2


  div.flex.items-center.gap-1
    | <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
        <path fill-rule="evenodd" d="M11.89 4.111a5.5 5.5 0 1 0 0 7.778.75.75 0 1 1 1.06 1.061A7 7 0 1 1 15 8a2.5 2.5 0 0 1-4.083 1.935A3.5 3.5 0 1 1 11.5 8a1 1 0 0 0 2 0 5.48 5.48 0 0 0-1.61-3.889ZM10 8a2 2 0 1 0-4 0 2 2 0 0 0 4 0Z" clip-rule="evenodd" />
      </svg>
    a id='email' class="hover:font-bold"


  div.flex.items-center.gap-1
    | <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
        <path fill-rule="evenodd" d="m3.855 7.286 1.067-.534a1 1 0 0 0 .542-1.046l-.44-2.858A1 1 0 0 0 4.036 2H3a1 1 0 0 0-1 1v2c0 .709.082 1.4.238 2.062a9.012 9.012 0 0 0 6.7 6.7A9.024 9.024 0 0 0 11 14h2a1 1 0 0 0 1-1v-1.036a1 1 0 0 0-.848-.988l-2.858-.44a1 1 0 0 0-1.046.542l-.534 1.067a7.52 7.52 0 0 1-4.86-4.859Z" clip-rule="evenodd" />
      </svg>
    a id='phone' class="hover:font-bold"

  div.flex.items-center.gap-1
    | <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
        <path fill-rule="evenodd" d="m7.539 14.841.003.003.002.002a.755.755 0 0 0 .912 0l.002-.002.003-.003.012-.009a5.57 5.57 0 0 0 .19-.153 15.588 15.588 0 0 0 2.046-2.082c1.101-1.362 2.291-3.342 2.291-5.597A5 5 0 0 0 3 7c0 2.255 1.19 4.235 2.292 5.597a15.591 15.591 0 0 0 2.046 2.082 8.916 8.916 0 0 0 .189.153l.012.01ZM8 8.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" clip-rule="evenodd" />
      </svg>
    | La Rochelle, France


section.mt-8
  section.my-2.relative.text-lg.leading-5

    div.z-10.relative
      p
        | Highly versatile and results-driven <b>full stack engineer</b> for 10y+ with extensive experience in the <t>React</t> ecosystem and <t>Ruby on Rails</t>.
      br
      p
        | <i>Seeking</i> opportunities to leverage technical expertise and leadership skills to drive innovative projects to success.

div class="h-[1px] w-full bg-gray-200 mt-8"

section.mt-8
  h3 Education
  section
    div
      | École Centrale Paris
      d 2008 – 2012
    div
      | CPGE - Hoche
      d 2005 – 2008


section.mt-8
  h3 Soft skills
  div
    p I've worked remotely since 2016 and I can communicate in either french or english
    p.mt-2 I promote the practice of code reviews, pair programming & data-driven decision
    p.mt-2 <t>notion</t> <t>jira</t> <t>trello</t> <t>linear</t> <t>github</t> <t>slack</t> <t>discord</t>


section.mt-8
  h3 Beyond coding
  div
    | In 2016, I left Paris and lived the nomadic life for 6 years,
    span
      = " "
      = cute_link_to "https://www.youtube.com/watch?v=6QAcB_E2sMY" do
        | sailed around the world.
    = " "
    div
      | I speak FR, EN, ES
    div
      | I practice <b>kitesurf</b> and <b>wing-foil</b> & constantly keep an eye on the wind forecast.
    div
      = cute_link_to 'https://lichess.org/@/qgaultier' do
        | I'm <strike>terrible</strike> fervent <b>chess</b> player
    div 
      | I'm a dad
