div[data-controller="pagination" data-pagination-api-url-value="https://api.gaultier.dev/bookmarks/"]

  ul[data-pagination-target="list" class="flex flex-col gap-8 w-1/2"]
    li.text-gray-500 Loading links...

